deep_translator
faiss-cpu
filetype
flask
fpdf
gotrue==1.3.1
httpcore==0.16.3
httpx==0.23.3
langchain
matplotlib
nltk
numpy
openai
pandas
pdf2image
pdfplumber
pillow
pymupdf
PyPDF2
python-docx
pytesseract
rank_bm25
schedule
scikit-learn
sentence-transformers
streamlit
supabase==1.0.3
psutil
GPUtil
plotly
seaborn
rouge
python-pptx
