streamlit
langchain
openai
fpdf
faiss-cpu
pdfplumber
python-docx
pytesseract
pdf2image
filetype
scikit-learn
matplotlib
pandas
numpy
pillow
pymupdf
PyPDF2
flask
schedule
sentence-transformers
rank_bm25
supabase==1.0.3
gotrue==1.3.1
httpx==0.23.3
httpcore==0.16.3
nltk
