streamlit
langchain
openai
fpdf
faiss-cpu
transformers
datasets
torch
pdfplumber
python-docx
pytesseract
pdf2image
filetype
scikit-learn
matplotlib
pandas
numpy
pytesseract
#textract #needs older version of pip downgrade pip , install , and then again upgrade pip
pillow
pymupdf
streamlit
torch
transformers
ntlk
PyPDF2
flask
schedule
pandas
numpy
faiss-cpu
PyPDF2
python-docx
fpdf
sentence-transformers
rank_bm25
